In [3]:
import pandas as pd
import numpy as np
import scipy.stats

df = pd.read_csv("/home/izzet/Desktop/stream-medical-data/all_preprocessed_data.csv")
np.random.seed(100)
def data_creator():
    return df.iloc[np.random.randint(0,df.shape[0])].to_json()

,gender_1,cholesterol_2,cholesterol_3,gluc_2,gluc_3,smoke_1,alco_1,active_1,bmicat_2.0,bmicat_3.0,bmicat_4.0,bmicat_5.0,agecat_3.0,agecat_4.0,agecat_5.0,agecat_6.0,agecat_7.0,hyper_tension_gr_2,hyper_tension_gr_3,target
0,1,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0
1,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,1,0,1,0,1
2,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1
3,1,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,1,0,1
4,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66821,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,1,0,1
66822,1,0,0,0,0,1,0,1,0,1,0,0,0,0,1,0,0,0,0,0
66823,1,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,1
66824,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,1
66825,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0

In [23]:

data_creator()

'{"gender_1":0,"cholesterol_2":1,"cholesterol_3":0,"gluc_2":0,"gluc_3":0,"smoke_1":0,"alco_1":0,"active_1":1,"bmicat_2.0":0,"bmicat_3.0":0,"bmicat_4.0":1,"bmicat_5.0":0,"agecat_3.0":0,"agecat_4.0":0,"agecat_5.0":0,"agecat_6.0":0,"agecat_7.0":1,"hyper_tension_gr_2":1,"hyper_tension_gr_3":0,"target":1}'

In [26]:
for i in range(1):
    if __name__ == '__main__':
         print(data_creator())

{"gender_1":0,"cholesterol_2":0,"cholesterol_3":0,"gluc_2":0,"gluc_3":0,"smoke_1":0,"alco_1":0,"active_1":1,"bmicat_2.0":0,"bmicat_3.0":0,"bmicat_4.0":1,"bmicat_5.0":0,"agecat_3.0":0,"agecat_4.0":0,"agecat_5.0":0,"agecat_6.0":1,"agecat_7.0":0,"hyper_tension_gr_2":0,"hyper_tension_gr_3":0,"target":1}